# Ignore dataset contents except YAML files
!datasets/**
!datasets/*.yaml

# Ignore models directory
models/**
!models/README.md

# 캐시 파일과 디렉터리 무시
__pycache__/
*.py[cod]
.cache/
*.cache
**/labels.cache

runs/**
output/
yolo11n.pt
